body {
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    z-index: 10;
    background-color: white;

    width: 100%;
    position: relative;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 1.5rem;
    /* padding: 1%; */
    margin-top: 0%;
    /* position: static; */
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    width: 139px;
    height: 20px;
    margin: 1%;
    background: url("./images/logo.svg") no-repeat;
}

.header-link {
    padding: 5%;
    /* margin-left: 30%; */
    color: black;
    /* border: 5px solid red; */
}

/* .hamburger {
    display: none;
} */

.hamburger-icon {
    height: 11px;
    width: 24px;
    display: none;
    background: url('./images/icon-hamburger.svg') no-repeat;
}



.header-center {
    display: flex;
    flex-direction: row;
}

.header-option {
    /* padding: 3%; */
    margin-left: 4%;
    margin-right: 4%;
    color: black;
}

.button {
    height: 40px;
    width: 150px;
    margin: 5%;
    background-image: linear-gradient(
        to right,
        hsl(136, 65%, 51%),
        hsl(192, 70%, 51%)
    );
    border-radius: 30px;
    border: none;
}

.under-header {
    display: flex;
    flex-direction: row;


    z-index: 4;


    background: url('./images/bg-intro-desktop.svg') no-repeat right -350px bottom -150px;
    /* background: url('./images/bg-intro-desktop.svg') no-repeat right; */
    /* background: url('./images/image-mockups.png') no-repeat top right; */
}

.phone-img {
    overflow: hidden;
    z-index: 2;
    position: relative;
    top: 10px;
    height: 850px;
    width: 750px;
}

.under-header-heading {
    margin-bottom: 0%;
    width: 70%;
}

.under-header-left {
    width: 50%;
    display: flex;
    flex-direction: column;

    margin: 8%;
    /* margin-top: 8%; */
    margin-left: 12%;
    margin-right: 5%;
}

.under-header-left-text {
    width: 75%;
}

.under-header-right {
    /* overflow: hidden; */
    width: 50%;
    height: 600px;
    z-index: 0;
    position: relative;
    top: -100px;
    /* right: -50px; */
    /* background: url("./images/bg-intro-desktop.svg") no-repeat left; */
    /* background: url('./images/image-mockups.png') no-repeat;  */
}

/* .background-image {
    /* background: url("./images/bg-intro-desktop.svg") no-repeat top; */
    /* overflow: hidden; */
    /* top:-100px; */
    /* left: -200px; */
    /* position: relative;
    z-index: 5; */
/* }  */

.middle {
    /* width: 100%; */
    z-index: -1;
    position: relative;
    display: flex;
    flex-direction: column;

    background-color: hsl(220, 16%, 96%);
}

.intro {
    z-index: 0;
    width: 35%;
    margin: 8%;
    margin-bottom: 0%;
}

.options {
    z-index: 0;
    display: flex;
    flex-direction: row;

    margin: 8%;
    margin-top: 2%;
}

.option-pair {
    display: flex;
    flex-direction: row;
}

@media (max-width: 1100px) {



    /* nav {
        overflow: inherit;
    } */

    .header {
        background-color: white;
    }


    .menu {
        z-index: 1;
        position: absolute;
        display: none;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        color: black;
        font-weight: bold;
        width: 80%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 0 100px 50px black;
    }

    .header-link:hover {
        border-bottom: 5px hsl(136, 65%, 51%) solid;
    }

    .hamburger-icon {
        display: table-row;
    }

    .header-button {
        display: none;
    }

    .header-option {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }


    .under-header {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;

        background: none;
    }

    .under-header-left {
        width: 80%;
        justify-content: center;
        align-items: center;
    }

    .under-header-right {
        width: 100%;
        height: 800px;
        background: url("./images/bg-intro-desktop.svg") no-repeat top -300px left 200px;
    }


    .phone-img {
        margin-left: 15%;
        /* height: 100%; */
        /* width: 800px; */
    }

    .options {
        display: flex;
        flex-direction: column;
    }

    .articles {
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
    }

    .footer {
        display: flex;
        flex-direction: column;

        align-items: center;
    }

    .about-left {
        /* display: flex; */
        flex-direction: column;
        align-items: center;
    }

    .footer-links {
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
    }

    .footer-logo {
        padding: 1%;
        
        /* background: te; */
    }

    /* .footer-logo::after {
        position: relative;
        content: "easybank";
        color: white;
    } */

    .facebook,
    .youtube,
    .twitter,
    .pinterest,
    .instagram {
        padding: 5%;
    }

    .footer-column-element {
        display: flex;
        justify-content: center;
    }

    .footer-column {
        padding: 0%;
    }

    .about-right {
        display: flex;
        justify-content: center;
    }

    .footer-column-end {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* .footer {
        background-color: hsl(233, 26%, 24%);
        color: white;
        display: flex;
        justify-content: space-between;
        padding: 3%;
        padding-left: 8%;
    }
    
    .about-left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .about-right {
        /* width: 350px; 
        display: flex;
        flex-direction: c;
        justify-content: flex-end;
        font-size: 15px;
    } */
}

@media (max-width: 500px) {
    .option-pair {
        display: flex;
        flex-direction: column;
    }


    .under-header-right {
        width: 100%;
        height: 600px;
        background: url("./images/bg-intro-mobile.svg") no-repeat right;
    }

    

    .phone-img {
        margin-left: 1%;
        height: 100%;
        width: 100%;
    }
    /* .under-header {
        width: 100%;
        display: flex;
        flex-direction: column;
    } */

    /* .under-header-left {
        width: 80%;
        justify-content: center;
    } */

    .under-header-left-text {
        width: 100%;
    }

    .under-header-heading {
        margin-bottom: 0%;
        width: 100%;
    }

    .intro {
        width: 80%;
        margin: 8%;
        margin-bottom: 0%;
    }

    .article-pair {
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
    }
}

.option {
    margin: 1%;
}

.option-1-image {
    height: 72px;
    width: 72px;
    background: url("./images/icon-online.svg");
}

.option-2-image {
    height: 72px;
    width: 72px;
    background: url("./images/icon-budgeting.svg");
}

.option-3-image {
    height: 72px;
    width: 72px;
    background: url("./images/icon-onboarding.svg");
}

.option-4-image {
    height: 72px;
    width: 72px;
    background: url("./images/icon-api.svg");
}

.articles-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 8%;
}

.articles {
    display: flex;
    flex-direction: row;
}

.article-pair {
    display: flex;
    flex-direction: row;
}

.article {
    margin: 1%;
    padding: 1%;
}

.article-image {
    height: 300px;
    width: 100%;
}

.author {
    display: flex;
    flex-direction: row;
}

/* .under-header {
    /* display: flex;
    flex-direction: row; */
/* } */

.footer {
    background-color: hsl(233, 26%, 24%);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 3%;
    padding-left: 8%;
}

.about-left {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
}

.about-right {
    width: 350px;
    display: flex;
    flex-direction: row;
    /* justify-content: flex-end; */
    font-size: 15px;
}

.footer-column {
    padding: 2%;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin: 2%; */
    margin-left: 8%;
    margin-right: 8%;
}

.footer-logo {
    width: 139px;
    height: 20px;
    margin: 1%;
    /* background-color: white; */
    background: url("./images/logo.svg") no-repeat;
}

.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.social-links {
    display: flex;
    flex-direction: row;
}

.footer-column-end {
    width: 250px;
    /* align-items: flex-end; */
    justify-content: space-evenly;
}

.facebook {
    height: 20px;
    width: 20px;
    background: url("./images/icon-facebook.svg") no-repeat;
    margin: 2%;
}

.youtube {
    height: 20px;
    width: 20px;
    background: url("./images/icon-youtube.svg") no-repeat;
    margin: 2%;
}

.twitter {
    height: 20px;
    width: 20px;
    background: url("./images/icon-twitter.svg") no-repeat;
    margin: 2%;
}

.pinterest {
    height: 20px;
    width: 20px;
    background: url("./images/icon-pinterest.svg") no-repeat;
    margin: 2%;
}

.instagram {
    height: 20px;
    width: 20px;
    background: url("./images/icon-instagram.svg") no-repeat;
    margin: 2%;
}

.footer-column-element {
    margin: 3%;
    display: flex;
    /* justify-content: space-between; */
}

.header-link:hover {
    /* border: 5px; */
    /* border-bottom: hsl(136, 65%, 51%);
    color: hsl(136, 65%, 51%); */
    /* margin-bottom: ; */

    border-bottom: 5px hsl(136, 65%, 51%) solid;
    /* color: hsl(136, 65%, 51%); */
}

/* .option:hover {
    color: hsl(136, 65%, 51%);
} */

.article-heading:hover {
    color: hsl(136, 65%, 51%);
}

.footer-column-element:hover {
    color: hsl(136, 65%, 51%);
}

button:hover {
    color: white;
}